@model SMS.ViewModels.CityViewModel
@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h2 class="content-header text-center">@(Model.Id > 1 ? "Edit City" : "Create New City")</h2>

<div class="container d-flex justify-content-center">
    @using (Html.BeginForm((Model.Id > 1 ? "Edit" : "Create"), "City", FormMethod.Post, new { @class = "form mx-auto w-50" }))
    {
        <div class="form-group">
            @Html.LabelFor(c => Model.Name)
            @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="p-0">
                <input type="submit" value="Create" class="btn btn-primary btn-lg" />
            </div>
        </div>
        @Html.ActionLink("Back to city list", "Index")

    }
</div>


@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }